@page "/programa/7"

<h1>Programa 7</h1>

<p>Acepte una calificación (0 a 100), calcule el equivalente literal de la misma y una posible distribución para el siguiente esquema: 40, 30, 30. Ejemplo si digitamos 90 el programa mostrara A => 31, 29 , 30</p>

<div>
    Nota <input type="number" @bind-value="@Nota">
    <br><br>

    <button class="btn btn-primary" @onclick="DoStuff"></button>
</div>

@if (Prop != null)
{
    <div>
        <p><b>Literal: </b>@Letra</p>
        <p><b>Proporcion: </b>@Prop[0] - @Prop[1] - @Prop[2]</p>
    </div>
}
