@page "/programa/2"

@using tarea2.Data
@inject UserService userService

<h1>Programa 2</h1>

<p>Muestre todos los datos de un usuario de random users: https://randomuser.me/api/?results=1</p>


@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <img src="@user.Picture" alt="Foto">
    </div>
    <br>
    <div>
        <p><b>Nombre:</b> @user.FirstName @user.LastName</p>
        <p><b>Genero:</b> @user.Gender</p>
        <p><b>E-mail:</b> @user.Email</p>
        <p><b>Telefono:</b> @user.Phone</p>
        <p><b>Edad:</b> @user.Age</p>
        <p><b>Fecha de nacimiento:</b> @user.BirthDate.Date</p>
        <p><b>Ubicacion:</b> @user.Location</p>
    </div>
}

@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        user = await userService.GetUserAsync();
    }
}
